.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #813ab7d4;
}
.rcw-header{
  background-color: White !important;
  color: white !important;
  display: none !important;
}
.rcw-messages-container{
  background-color: #eaeaea !important;
}
.rcw-client{
  background-color: white !important;
}
.rcw-full-screen .rcw-header{
  border-radius: 35px !important;
}
.rcw-sender{
  height: 70px !important;
}

.input-style{
  border-radius: 5px;
}

/* .rcw-client, .rcw-response{
  max-width: inherit !important;
} */
.rcw-client{
  background-color: #F1CEBA !important;
  color: #182020 !important;
}
#name{
  width: 100%;
  border-radius: 5px;
}

.hide {
  display: none;
}

.rcw-messages-container {
  background-image: url("./bg2.jpg");
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center; 
}

.rcw-message {
  opacity: 100% !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
